{% block extrahead %}
  {% set title = config.site_name %}
    {% if page and page.meta and page.meta.title %}
      {% set title = title ~ " - " ~ page.meta.title %}
    {% elif page and page.title and not page.is_homepage %}
      {% set title = title ~ " - " ~ page.title | striptags %}
    {% endif %}
  <meta name="meta_description" content="{{ title }}" />
{% endblock %}

{% extends "base.html" %} {% block analytics %}
<link rel="preconnect" href="https://www.googletagmanager.com" />
<link rel="preconnect" href="https://www.google.fr" />
<link rel="preconnect" href="https://edge.fullstory.com" />
<link rel="preconnect" href="https://cdn.headwayapp.co" />
<link rel="preconnect" href="https://www.google-analytics.com" />
<link rel="preconnect" href="https://fonts.googleapis.com" />

{% endblock %}
